*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background-color: #7d68de;
}
div{
    /* border: 2px solid black; */
}

.section-cont{
    height: 100vh;
    border:2px solid #7d68de;
    /* background-color: #7d68de; */
}
.main-cont{
    color: black;
    background-color: white;
    margin: 5% auto;
    padding: 21px 0;
    width: 40%;
    border: 2px solid rgba(255, 255, 255, 0.441);
    min-width: 422px;
    position: relative;
}
.center-cnt{
    margin: 15px auto;
    width: 90%;
}
.center-text{
    text-align: center;
}
.relative-box{
    position: relative;
}
.float-right{
    float: right;
}
.full-box{
    width: 100%;
}
#progress-bar{
    background-color: #eceaea;
}
#icons div#rule{
    border-radius: 0px;
    width: 0%;
    position: absolute;
    top: 26px;
    height: 0px;
    z-index: 1;
    border: 1.5px solid #5b44c2;
    left: 0;
    transition: 2s width;
}
#progress-bar>div{
    height: 20px;
    background-color: #5b44c2;
    width:27%;
    margin: 15px 0;
    transition: 2s width;
}


input{
    width: 100%;
    height: 30px;
    margin: 8px 0;
    padding:2%;
    border: none;
    background-color: #eceaea;
    outline: none;
}
input[type="radio"]{
    width: 10%;
    height: 15px;
    margin:8px 0px;
}
span{
    color:red;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 32px;
}
span.data{
    visibility: visible;
    position: static;
    color:black;
}
h1{
    color: #5b44c2;
}

button{
    width: 61px;
    height: 30px;
    margin: 5px auto;
    font-weight:800px;
    border:none;
}
button:hover{
    background-color: #5b44c2;
    color: white;
    
}

/* main-logic  css*/

.show{
    display: block;
}
.hide{
    display: none;
}
#icons{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
    position: relative;
    width: 80%;
}
#icons>div{
    width: 50px;
    border: 1px solid black;
    border-radius: 66px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    background: #eceaea;
    z-index: 2;
}
#add{
    position: absolute;
    right: 0;
    bottom: -30px;
    z-index: 2;
}

#edu-details>div{
    margin: 20px auto;
    border-bottom: 2px solid black;
}
#course_det_d tr,#job_det_d tr{
    text-align: center;
}
h1#fname_d,h1#lname_d{
    display: inline;
}

#dark-mode-cnt>img{
    width: 52px;
    position: absolute;
    right: 2px;
    top: 2px;
}

